<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NexGenTech Dominicana</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/XXXXXXXXXX.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">LOS MEJORES EN CREACIÓN DE SITIOS WEBS</span>
                <span class="site-heading-lower">NexGenTech Dominicana</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">NexGenTech Dominicana</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="../index.html">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">About</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Products</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Store</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase link-dark bg-warning" href="./solicite.html">Solicite</a></li>

                    </ul>
                </div>
                <ul class="navbar-nav mx-auto">
                     <li class="text-end nav-item px-lg-4"><a class="nav-link text-uppercase" href="../view/login.php">Dashboard</a></li>
                 </ul>
            </div>
        </nav>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">NexGenTech Dominicana</span>
                                <span class="section-heading-lower">Productos</span>
                            </h2>
                        <ol class="list-unstyled list-hours mb-5 text-left mx-auto">
                                 <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-laptop-code"></i></span>
            <strong>Diseño de sitios web personalizados:</strong> Creación de sitios web únicos y atractivos que reflejen
            la identidad y la marca de cada cliente.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-mobile-alt"></i></span>
            <strong>Desarrollo de aplicaciones web y móviles:</strong> Creación de aplicaciones web responsivas y aplicaciones
            móviles para iOS y Android.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-chart-line"></i></span>
            <strong>Optimización para motores de búsqueda (SEO):</strong> Implementación de estrategias y técnicas para mejorar
            la visibilidad de un sitio web en los motores de búsqueda.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-shopping-cart"></i></span>
            <strong>Comercio electrónico:</strong> Desarrollo de tiendas en línea seguras y fáciles de usar para permitir a los
            clientes vender sus productos en línea.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-paint-brush"></i></span>
            <strong>Diseño gráfico y branding:</strong> Creación de logotipos, banners, folletos y otros materiales gráficos para
            reforzar la identidad de marca del cliente.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-file-alt"></i></span>
            <strong>Desarrollo de sistemas de gestión de contenido (CMS):</strong> Implementación de sistemas como WordPress o Joomla
            para permitir a los clientes administrar y actualizar fácilmente sus sitios web.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-code"></i></span>
            <strong>Integración de API y desarrollo de aplicaciones personalizadas:</strong> Conexión de sitios web con servicios de
            terceros y creación de aplicaciones a medida según las necesidades del cliente.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-user"></i></span>
            <strong>Diseño de interfaces de usuario (UI) y experiencia de usuario (UX):</strong> Creación de interfaces amigables y
            atractivas para mejorar la experiencia del usuario en el sitio web o la aplicación.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-wrench"></i></span>
            <strong>Mantenimiento y soporte técnico:</strong> Ofrecimiento de servicios de mantenimiento continuo, actualizaciones y
            soporte técnico para garantizar el correcto funcionamiento de los sitios web y aplicaciones.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-cogs"></i></span>
            <strong>Consultoría y asesoramiento tecnológico:</strong> Proporcionar orientación y recomendaciones sobre tecnologías y
            soluciones adecuadas para los objetivos del cliente.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-clipboard"></i></span>
            <strong>Diseño y desarrollo de páginas de aterrizaje (landing pages):</strong> Creación de páginas de destino eficaces y
            optimizadas para campañas de marketing o promocionales.
        </li>
        <li class="list-unstyled-item list-hours-item d-flex">
            <span><i class="fas fa-shield-alt"></i></span>
            <strong>Seguridad web y auditoría de sitios:</strong> Evaluación y mejora de la seguridad de los sitios web para protegerlos
            contra posibles vulnerabilidades.
        </li>
        
                    </ol>
                                            <p class="address mb-5">
                                <em>
                                    <strong>C/ Padre Billini #157</strong>
                                    <br />
                                    Villa Altagracia, RD.
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                (829) 878-0564
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../assets/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">NexGenTech Dominicana</span>
                                    <span class="section-heading-lower">Sobreo nosotros</span>
                                </h2>
                                <p>La pasión por la innovación impulsa a NexGenTech Dominicana a mantenerse actualizada con las últimas tendencias tecnológicas y de diseño. Colaboran estrictamente con sus clientes para entender sus metas y necesidades, y luego transforman esas ideas en soluciones digitales que superan las expectativas.</p>
                                <p class="mb-0">
                                    Nuestra misión es proporcionar a las empresas dominicanas las herramientas digitales más avanzadas y creativas para destacar en el mundo en línea. Nos comprometemos a crear experiencias web excepcionales, impulsadas por la innovación y la excelencia técnica, para ayudar a nuestros clientes a alcanzar sus objetivos y conectarse con su audiencia de manera significativa. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; NexGenTech Dominicana 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>
